# Configuration folders
.circleci/
.storybook/
.vscode/

# Configuration files
.prettierrc
.gitignore
.eslintrc
.babelrc
yarn.lock

# Dependencies
node_modules/

# Source code
src/

# Test results
coverage/